{% load static %}

<div class="single-sidebar-widget user-info-widget">
									<img src="{% static 'img/blog/Nana.jpg' %}" alt="Nahid">
									<a href="#"><h4>Nahid Abdolahpour</h4></a>
									<p>
										Senior blog writer
									</p>
									<ul class="social-links">
										<li>
                                            <a href="https://www.facebook.com/Nahid Abdolahpour" target="_blank" rel="noopener">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/https://www.linkedin.com/in/nahid-abdolahpour-70839187/" target="_blank" rel="noopener">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li>
                                            <a href="https://github.com/NAHID1367" target="_blank" rel="noopener">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>

										<li><a href="#"><i class="fa fa-behance"></i></a></li>
									</ul>
									<p>
										I am a Web Developer specializing in Python and Django, currently working as a freelancer on Upwork.I develop web applications and backend solutions, focusing on clean code, functionality, and continuous improvement.Before transitioning into web development, I gained professional experience in an administrative office environment, which strengthened my organizational, communication, and problem-solving skills.I am continuously learning and improving my skills through practical and training projects, which I actively publish on GitHub.I am open to freelance projects, collaboration opportunities, and professional networking in web development and Django-based projects.
									</p>
								</div>